{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hi username: {{ user.username }}!</p>
  <p>Hi displayname: {{ user.display_name }}</p>
  <p>Ticket Detail Page</p>
  <p><a href="/usertickets/{{user.id}}">User Tickets Detail Page</a></p>
  <h1>Scroll Right >>>>> to see all the columns per instructions</h1>
  <p>click on the ticket title to go to the ticket detail page</p>
  <table class='table'>
    <tr>
      <th>New</th>
      <th>Done</th>
      <th>In Progress</th>
      <th>Invalid</th>
    </tr>
    <tr>
        <td>
          
          <table class='table'>
            <tr>
              <th>Title</th>
              <th>ID</th>
              <th>Assigned:</th>
              <th>Created:</th>
              <th>Completed:</th>
              <th>Description:</th>
              <th>Status:</th>
              <th>TimeStamp:</th>
            </tr>
            {% for each in new %}
            <tr>
                <td><a href="/ticketdetail/{{each.id}}">{{each.title}}</a></td>
                <td>{{each.id}}</td>
                <td>{{each.assignee}}

                  <form method="post" action="/changeassigned/{{each.id}}/">{% csrf_token %}
                    {{ userAss.as_p }}
                    <select id="assigned" name="assigned" required>
                      <option value={{each.assignee}} selected>{{each.assignee}}</option>
                      {% for listuser in users %}
                        <option value={{listuser}} >{{listuser}}</option>
                      {% endfor %}
                    </select>
                    <input type="submit" value="Update">
                </form>

                </td>
                <td>{{each.filer}}</td>
                <td>{{each.completer}}</td>
                <td>{{each.description}}</td>
                <td>
                  
                  {{each.status}}
                  <form method="post" action="/changestatus/{{each.id}}/">{% csrf_token %}
                    {{ form.as_p }}
                  <select id="progress" name="progress" required>
                  <option value="New" selected>{{each.status}}</option>
                  <option value="Invalid">Invalid</option>
                  <option value="In Progress">In Progress</option>
                  <option value="Done">Done</option>
                  </select>
                  <input type="submit" value="Update">
                </form>
                </td>
                <td>{{each.timestamp}}</td>
            </tr>
            {% endfor %}
          </table>
          
        </td>
        <td>
          
          <table class='table'>
            <tr>
              <th>Title</th>
              <th>ID</th>
              <th>Assigned:</th>
              <th>Created:</th>
              <th>Completed:</th>
              <th>Description:</th>
              <th>Status:</th>
              <th>TimeStamp:</th>
            </tr>
            {% for each in done %}
            <tr>
                <td><a href="/ticketdetail/{{each.id}}">{{each.title}}</a></td>
                <td>{{each.id}}</td>
                <td>{{each.assignee}}

                  <form method="post" action="/changeassigned/{{each.id}}/">{% csrf_token %}
                    {{ userAss.as_p }}
                    <select id="assigned" name="assigned" required>
                      <option value={{each.assignee}} selected>{{each.assignee}}</option>
                      {% for listuser in users %}
                        <option value={{listuser}} >{{listuser}}</option>
                      {% endfor %}
                    </select>
                    <input type="submit" value="Update">
                </form>

                </td>
                <td>{{each.filer}}</td>
                <td>{{each.completer}}</td>
                <td>{{each.description}}</td>
                <td>{{each.status}}
                  <form method="post" action="/changestatus/{{each.id}}/">{% csrf_token %}
                    {{ form.as_p }}
                  <select id="progress" name="progress" required>
                    <option value="Done" selected>{{each.status}}</option>
                    <option value="Invalid">Invalid</option>
                    <option value="In Progress">In Progress</option>
                    <option value="New">New</option>
                    </select>
                    <input type="submit" value="Update">
                  </form>
                </td>
                <td>{{each.timestamp}}</td>
            </tr>
            {% endfor %}
          </table>
          
        </td>
        <td>
          
          <table class='table'>
            <tr>
              <th>Title</th>
              <th>ID</th>
              <th>Assigned:</th>
              <th>Created:</th>
              <th>Completed:</th>
              <th>Description:</th>
              <th>Status:</th>
              <th>TimeStamp:</th>
            </tr>
            {% for each in progress %}
            <tr>
                <td><a href="/ticketdetail/{{each.id}}">{{each.title}}</a></td>
                <td>{{each.id}}</td>
                <td>{{each.assignee}}

                  <form method="post" action="/changeassigned/{{each.id}}/">{% csrf_token %}
                    {{ userAss.as_p }}
                    <select id="assigned" name="assigned" required>
                      <option value={{each.assignee}} selected>{{each.assignee}}</option>
                      {% for listuser in users %}
                        <option value={{listuser}} >{{listuser}}</option>
                      {% endfor %}
                    </select>
                    <input type="submit" value="Update">
                </form>

                </td>
                <td>{{each.filer}}</td>
                <td>{{each.completer}}</td>
                <td>{{each.description}}</td>
                <td>{{each.status}}
                  <form method="post" action="/changestatus/{{each.id}}/">{% csrf_token %}
                    {{ form.as_p }}
                  <select id="progress" name="progress" required>
                    <option value="In Progress" selected>{{each.status}}</option>
                    <option value="Invalid">Invalid</option>
                    <option value="New">New</option>
                    <option value="Done">Done</option>
                    </select>
                    <input type="submit" value="Update">
                  </form>
                </td>
                <td>{{each.timestamp}}</td>
            </tr>
            {% endfor %}
          </table>
          
        </td>
        <td>
          
          <table class='table'>
            <tr>
              <th>Title</th>
              <th>ID</th>
              <th>Assigned:</th>
              <th>Created:</th>
              <th>Completed:</th>
              <th>Description:</th>
              <th>Status:</th>
              <th>TimeStamp:</th>
            </tr>
            {% for each in invalid %}
            <tr>
                <td><a href="/ticketdetail/{{each.id}}">{{each.title}}</a></td>
                <td>{{each.id}}</td>
                <td>{{each.assignee}}

                <form method="post" action="/changeassigned/{{each.id}}/">{% csrf_token %}
                    {{ userAss.as_p }}
                    <select id="assigned" name="assigned" required>
                      <option value={{each.assignee}} selected>{{each.assignee}}</option>
                      {% for listuser in users %}
                        <option value={{listuser}} >{{listuser}}</option>
                      {% endfor %}
                    </select>
                    <input type="submit" value="Update">
                </form>

                </td>
                <td>{{each.filer}}</td>
                <td>{{each.completer}}</td>
                <td>{{each.description}}</td>
                <td>{{each.status}}
                  <form method="post" action="/changestatus/{{each.id}}/">{% csrf_token %}
                    {{ form.as_p }}
                  <select id="progress" name="progress" required>
                    <option value="Invalid" selected>{{each.status}}</option>
                    <option value="New">New</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                    </select>
                    <input type="submit" value="Update">
                  </form>
                </td>
                <td>{{each.timestamp}}</td>
            </tr>
            {% endfor %}
          </table>
          
        </td>
      </tr>
    



  </table>


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |

{% endif %}
{% endblock %}