{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hi username: {{ user.username }}!</p>
  <p>Hi displayname: {{ user.display_name }}</p>
  <p>Ticket Detail Page</p>
  <p><a href="/usertickets/{{user.id}}">User Tickets Detail Page</a></p>
  <h1>Scroll Right >>>>> to see all the columns per instructions</h1>
  <p>click on the ticket title to go to the ticket detail page</p>
  <table class='table'>
    <tr>
      <th>New</th>
      <th>In Progress</th>
      <th>Done</th>
      <th>Invalid</th>
    </tr>
    <tr>
        <td>
          
          <table class='table'>
            <tr>
              <th>Title</th>
              <th>ID</th>
              <th>Assigned:</th>
              <th>Created:</th>
              <th>Completed:</th>
              <th>Description:</th>
              <th>Status:</th>
              <th>TimeStamp:</th>
            </tr>
            {% for each in new %}
            <tr>
                <td><a href="/ticketdetail/{{each.id}}">{{each.title}}</a></td>
                <td>{{each.id}}</td>
                <td>{{each.assignee}}</td>
                <td>{{each.filer}}</td>
                <td>{{each.completer}}</td>
                <td>{{each.description}}</td>
                <td>{{each.status}}</td>
                <td>{{each.timestamp}}</td>
            </tr>
            {% endfor %}
          </table>
          
        </td>
        <td>
          
          <table class='table'>
            <tr>
              <th>Title</th>
              <th>ID</th>
              <th>Assigned:</th>
              <th>Created:</th>
              <th>Completed:</th>
              <th>Description:</th>
              <th>Status:</th>
              <th>TimeStamp:</th>
            </tr>
            {% for each in done %}
            <tr>
                <td><a href="/ticketdetail/{{each.id}}">{{each.title}}</a></td>
                <td>{{each.id}}</td>
                <td>{{each.assignee}}</td>
                <td>{{each.filer}}</td>
                <td>{{each.completer}}</td>
                <td>{{each.description}}</td>
                <td>{{each.status}}</td>
                <td>{{each.timestamp}}</td>
            </tr>
            {% endfor %}
          </table>
          
        </td>
        <td>
          
          <table class='table'>
            <tr>
              <th>Title</th>
              <th>ID</th>
              <th>Assigned:</th>
              <th>Created:</th>
              <th>Completed:</th>
              <th>Description:</th>
              <th>Status:</th>
              <th>TimeStamp:</th>
            </tr>
            {% for each in progress %}
            <tr>
                <td><a href="/ticketdetail/{{each.id}}">{{each.title}}</a></td>
                <td>{{each.id}}</td>
                <td>{{each.assignee}}</td>
                <td>{{each.filer}}</td>
                <td>{{each.completer}}</td>
                <td>{{each.description}}</td>
                <td>{{each.status}}</td>
                <td>{{each.timestamp}}</td>
            </tr>
            {% endfor %}
          </table>
          
        </td>
        <td>
          
          <table class='table'>
            <tr>
              <th>Title</th>
              <th>ID</th>
              <th>Assigned:</th>
              <th>Created:</th>
              <th>Completed:</th>
              <th>Description:</th>
              <th>Status:</th>
              <th>TimeStamp:</th>
            </tr>
            {% for each in invalid %}
            <tr>
                <td><a href="/ticketdetail/{{each.id}}">{{each.title}}</a></td>
                <td>{{each.id}}</td>
                <td>{{each.assignee}}</td>
                <td>{{each.filer}}</td>
                <td>{{each.completer}}</td>
                <td>{{each.description}}</td>
                <td>{{each.status}}</td>
                <td>{{each.timestamp}}</td>
            </tr>
            {% endfor %}
          </table>
          
        </td>
      </tr>
    



  </table>


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |

{% endif %}
{% endblock %}